.email-container,
.password-container,
.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  font-family: 'Synonym', sans-serif;
  font-weight: 500;
}

.name-container > label,
.email-container > label,
.password-container > label {
  align-self: flex-start;
  font-size: 22px;
}

.name-container > input,
.email-container > input,
.password-container > input {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid grey;
}

main > p {
  font-size: 20px;
}

.homepage-login-link {
  font-size: 18px;
  text-decoration: none;
}
