.logo {
  width: 100px;
  /* filter: invert(); */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}

.nav-links-container {
  display: flex;
  gap: 25px;
  font-size: 22px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 26px;
}

.logout-btn {
  background: #d3c00d;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
